.list-heading {
  font-size: larger;
  border: 0.5px solid lightgray;
}

.list-title {
  font-size: larger;
}

.list-item {
  border: 0.5px solid lightgray;
  border-top: none ;
}

.exchange-title {
  font-size: x-large;
}

.exchange-form {
  border: 0.5px solid lightgray;
  border-radius: 6px;
}